In [ ]:
## Basic imports to do Data Science
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Import to preprocess the data
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

## Import for spliting the data for train and test
from sklearn.model_selection import train_test_split

In [ ]:
## Extraction of the data

df=pd.read_csv('crx.data',header=None)
df.columns=['A1','A2','A3','A4','A5','A6','A7','A8','A9',
            'A10','A11','A12','A13','A14','A15','target']

In [ ]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 target
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0      +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560      +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824      +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3      +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0      +

In [ ]:
## Remove the rows with misisg data

# Replace the label of the dataset for missing data for NAN
df[df=='?']=np.NAN 

# Delete the rows with NANs
df.dropna(inplace=True)

## Chage de datatype af A2 because its has to be a float and A15 for an int
df['A2']=df['A2'].astype(float)
df['A14']=df['A14'].astype(int)

In [ ]:
## One-hot-encoder

def processCategorical(df,column):

    # Create dummies columns
    dummies=pd.get_dummies(column)
    # Drop the current columns and add the new dummies columns
    df.drop(column.name,axis=1,inplace=True)
    d=pd.concat([df,dummies],axis=1)
    return d

## Split in categorical and numerical

categorical_cols=[col for col in df.columns if df[col].dtype=='O']

## for categorical data

for col in categorical_cols:
    if len(df[col].unique())==2:
        ## Replace the binary columns for 0 and 1
        elements=df[col].unique()
        df[col]=df[col].replace({elements[0]:0,elements[1]:1})

    else:
        df=processCategorical(df,df[col])

In [ ]:
df.head()

,A1,A2,A3,A8,A9,A10,A11,A12,A14,A15,...,ff,h,j,n,o,v,z,g,p,s
0,0,30.83,0.000,1.25,0,0,1,0,202,0,...,0,0,0,0,0,1,0,1,0,0
1,1,58.67,4.460,3.04,0,0,6,0,43,560,...,0,1,0,0,0,0,0,1,0,0
2,1,24.50,0.500,1.50,0,1,0,0,280,824,...,0,1,0,0,0,0,0,1,0,0
3,0,27.83,1.540,3.75,0,0,5,1,100,3,...,0,0,0,0,0,1,0,1,0,0
4,0,20.17,5.625,1.71,0,1,0,0,120,0,...,0,0,0,0,0,1,0,0,0,1

In [ ]:
##MinMaxScaler

# Normalize the data to make an input between 0-1

columns=df.columns
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df,columns=columns)
scaled_df.tail()

,A1,A2,A3,A8,A9,A10,A11,A12,A14,A15,...,ff,h,j,n,o,v,z,g,p,s
648,0.0,0.116349,0.360179,0.043860,1.0,1.0,0.000000,0.0,0.13,0.00000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
649,1.0,0.141587,0.026786,0.070175,1.0,0.0,0.029851,1.0,0.10,0.00394,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
650,1.0,0.182540,0.482143,0.070175,1.0,0.0,0.014925,1.0,0.10,0.00001,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
651,0.0,0.066190,0.007321,0.001404,1.0,1.0,0.000000,0.0,0.14,0.00750,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
652,0.0,0.337302,0.120536,0.290877,1.0,1.0,0.000000,1.0,0.00,0.00000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
##Split in target an input data
target=scaled_df['target']
data=scaled_df.drop('target',axis=1)

In [ ]:
## Split in train and test

X_train,X_test,y_train,y_test=train_test_split(
    data,
    target,
    random_state=42)

In [ ]:
## 1st model K-nearest neigthbour

from sklearn.neighbors import KNeighborsClassifier

model1=KNeighborsClassifier(n_neighbors=2)

model1.fit(X_train,y_train)

print("Score for the model 1:",model1.score(X_test,y_test))

Score for the model 1: 0.75

In [ ]:
## 2nd model 
from sklearn.ensemble import GradientBoostingClassifier

model2=GradientBoostingClassifier(n_estimators=100,
                                 learning_rate=0.3,
                                 max_depth=1,
                                 random_state=23)
model2.fit(X_train,y_train)

print('Score for the model 2:',model2.score(X_test,y_test))

Score for the model 2: 0.8353658536585366

In [ ]:
## 3rd model keras neuronal network

from tensorflow import keras

In [ ]:
input_layer_size=X_train.shape[1] ## same number of input neurons as features
output_layer=2 # as the output has size of 2 , 0 or 1

model=keras.Sequential([
    keras.layers.Dense(input_layer_size),
    keras.layers.Dense(128,activation='relu'),
    keras.layers.Dense(2,activation='softmax')
])

model.compile(optimizer='adam',
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

model.fit(X_train,y_train,epochs=20)

Epoch 1/20
16/16 [==============================] - 1s 2ms/step - loss: 0.6149 - accuracy: 0.7055
Epoch 2/20
16/16 [==============================] - 0s 2ms/step - loss: 0.4492 - accuracy: 0.8405
Epoch 3/20
16/16 [==============================] - 0s 2ms/step - loss: 0.3814 - accuracy: 0.8507
Epoch 4/20
16/16 [==============================] - 0s 2ms/step - loss: 0.3518 - accuracy: 0.8834
Epoch 5/20
16/16 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8916
Epoch 6/20
16/16 [==============================] - 0s 2ms/step - loss: 0.3195 - accuracy: 0.8855
Epoch 7/20
16/16 [==============================] - 0s 2ms/step - loss: 0.3071 - accuracy: 0.9018
Epoch 8/20
16/16 [==============================] - 0s 3ms/step - loss: 0.3001 - accuracy: 0.8896
Epoch 9/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2930 - accuracy: 0.8998
Epoch 10/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2867 - accuracy: 0.9059
Epoch 11/20
16/16 [==============================] - 0s 4ms/step - loss: 0.2815 - accuracy: 0.9018
Epoch 12/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2785 - accuracy: 0.9039
Epoch 13/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2789 - accuracy: 0.9080
Epoch 14/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2784 - accuracy: 0.8978
Epoch 15/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2726 - accuracy: 0.9018
Epoch 16/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2686 - accuracy: 0.9018
Epoch 17/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2664 - accuracy: 0.9039
Epoch 18/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2632 - accuracy: 0.9080
Epoch 19/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2626 - accuracy: 0.9080
Epoch 20/20
16/16 [==============================] - 0s 2ms/step - loss: 0.2623 - accuracy: 0.9039

In [ ]:
test_loss,test_acc = model.evaluate(X_test,y_test)
print("Score for model 3:",test_acc)

6/6 [==============================] - 0s 3ms/step - loss: 0.4166 - accuracy: 0.8476
Score for model 3: 0.8475610017776489

In [ ]:
print('Ranking of performance of the models:')
print("")
print("model 3:",test_acc)
print("model 2:",model2.score(X_test,y_test))
print('model 1:',model1.score(X_test,y_test))

Ranking of performance of the models:

model 3: 0.8475610017776489
model 2: 0.8353658536585366
model 1: 0.75